[Unit]
Description=Kirkbot (ChatSoc Discord bot)
After=network.target

[Service]
ExecStart=/home/kirkbot/kirkbot.sh
WorkingDirectory=/home/kirkbot/
Restart=on-failure
User=kirkbot

[Install]
WantedBy=multi-user.target
